<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ass2note"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".notepad.Notepad"
            android:label="@string/title_activity_note" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="noteedit.NoteEdit"
            android:parentActivityName=".notepad.Notepad" >
        </activity>
        <activity
            android:name=".location.GoogleMapsActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".location.UseGps" >
        </activity>

        <service android:name=".location.TimeAndDate" >
        </service>
        <service
            android:name=".location.FindPositionService"
            android:process=":my_process" >
            <intent-filter>
                <action android:name="location.FindPositionService.BIND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name=".alarm.AlarmReceiver" >
        </receiver>

        <service
            android:name=".alarm.LocationAlarmService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".alarm.AlarmManagerService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".location.ConnectionService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".alarm.TimeAlarmService"
            android:enabled="true"
            android:exported="true" >
        </service>

      
    </application>

</manifest>